@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@media (prefers-color-scheme: dark) {
  :root {
    --bg-clr: #470e79;
    --bg-first: #042d52;
    --bg-second: #410f6d;
    --bg-third: #bd637d;
    --text-clr: #f7f7f7;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-clr: #ae5af7;
    --bg-first: #8dc7f7;
    --bg-second: #c08aee;
    --bg-third: #f0a3ba;
    --text-clr: #2c2c2c;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#CountDown {
  /* background */
  background-image: url("./milad-fakurian-nY14Fs8pxT8-unsplash.jpg");
  background-size: cover;
  background-position: center center;

  background: #14446e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    75deg,
    var(--bg-first),
    var(--bg-second) 40%,
    var(--bg-third) 95%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    75deg,
    var(--bg-first),
    var(--bg-second) 40%,
    var(--bg-third) 95%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--text-clr);
}
label {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em;
}

.countdown-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(000, 000, 000, 0.2);
  border-radius: 15px;
  padding: 0.5em 0.5em 1.2em;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
}

#deadline {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: space-between; */
}
.deadline-field {
  margin: 0.75em;
}
.options {
  cursor: pointer;
  font-size: 1em;
  padding: 0.4em;
  border-radius: 15px;
  background-color: var(--bg-clr);
  color: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  border: var(--bg-clr);
}

.option {
  padding: 0 15px;
  transition: all 300ms;
  display: inline;
}
