@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --bg-first: #e8a1b5;
  --bg-second: #4e1580;
  --bg-third: #063763;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#CountDown {
  /* background */
  background-image: url("./milad-fakurian-nY14Fs8pxT8-unsplash.jpg");
  background-size: cover;
  background-position: center center;

  background: #14446e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    75deg,
    var(--bg-first),
    var(--bg-second) 40%,
    var(--bg-third) 70%
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    75deg,
    var(--bg-first),
    var(--bg-second) 40%,
    var(--bg-third) 70%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: #f7f7f7;
}
label {
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em;
}

.countdown-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(000, 000, 000, 0.2);
  border-radius: 15px;
  padding: 0.5em 0.5em 1.2em;
}

.big-text {
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1.3rem;
}

#deadline {
  margin-top: 2em;
}

.options {
  cursor: pointer;
  font-size: 1em;
  padding: 0.4em;
  border-radius: 15px;
  background-color: #fafafa;
  transition: all 300ms;
}

.option {
  padding: 0 15px;
  transition: all 300ms;
  display: inline;
}
